<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistema_gestor_de_Citas_Barberia.Properties.Settings.BarberiaConnectionString"
            connectionString="Data Source=LAPTOP-ADAM\SQLEXPRESS;Initial Catalog=Barberia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>