@{
    ViewBag.Title = "About";
}
<br />
<br />
<h2>Sobre Nosotros</h2>
<br />
<p>
    Somos una tienda virtual enfocada al estilo de vestimenta de hombres, nos enfocamos en todo tipo de tallas y todo tipo de gustos,
    nacimos como una idea en 2022 la cual se esta llevando a cabo y actualmente esta teniendo mucho exito
</p>
<img src="https://www.emprendedores.es/wp-content/uploads/2018/08/como-presentar-tu-negocio-en-cinco-minutos.jpg" />
