@{
    ViewBag.Title = "Contact";
}
<h2>Contacto</h2>
<br />

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15138.671945555425!2d-69.94312274999999!3d18.4533779!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sdo!4v1657072677354!5m2!1ses!2sdo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<h4>Direccion:</h4>
<address>
    <br />
    Republica Dominicana<br />
    Av.Romulo Betancourt #1452<br />
    <abbr title="Phone">Telefono:</abbr>
    8094284462
</address>

<p>Horarios: </p>
<ul>
    <li>Lunes-Viernes: 9 am - 7 pm</li>
    <li>Sabado y Domingo: 10 am - 3 pm</li>
</ul>

<address>
    <strong>Support:</strong>   <a href="mailto:ExoticShop@gmail.com">ExoticShop@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@gmail.com">Marketing@gmail.com</a>
</address>