@{
    ViewBag.Title = "Home Page";
}

<style>
    img {
        background-image: url(https://topboutique.es/wp-content/uploads/2020/06/clothing-store-984396_1280.jpg);
        background-size: 10rem;
        align-content: center;
        height: 680px;
    }

    dentro {
        position: absolute;
        top: 45%;
        left: 0;
        width: 100%;
    }
</style>

<div class="jumbotron ">
    <img src="https://topboutique.es/wp-content/uploads/2020/06/clothing-store-984396_1280.jpg" />
    <h1>Exotic Shop</h1>
    <p class="lead">Cambio de outfit para hombres a un click de distancia.</p>
    <p><a href="https://localhost:44363/Home/About" class="btn btn-primary btn-lg">Nosotros &raquo;</a></p>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>Articulos</h2>
        <p>
            En este espacio podras localizar cualquier tipo de accesorio, ropa o calzados para todos los gustos de cada tipo de hombre.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44363/Productos"> Más Info. &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sobre Nosotros</h2>
        <p>Somos una tienda virtual enfocada en el ecommerce la cual busca satisfacer las demandas de los hombres en el ambito de la moda.</p>
        <p><a class="btn btn-default" href="https://localhost:44363/Home/About"> Más Info. &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contactenos</h2>
        <p>Tenemos diferentes centros de distribuciones en el país listos para realizarle su entrega, para más información no dude en contactarnos.</p>
        <p><a class="btn btn-default" href="https://localhost:44363/Home/Contact"> Más Info. &raquo;</a></p>
    </div>
</div>